.right-wrapper {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: inherit;
    padding: 10px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.form-title {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.email-wrapper, .password-wrapper, .name-wrapper, .lastname-wrapper, .username-wrapper {
    display: flex;
    flex-direction: column;

}

label {
    font-size: 14px;
    color: #fefefe;
    font-weight: 500;
}

input[type="text"], input[type="password"] {
    border: 2px #fefefe solid;
    border-radius: 5px;
    padding: 8px 15px;
    width: 250px;
    height: 20px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-top: 5px;
    transition: .2s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border: 2px #fefefe solid;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}

#authorize {
    padding: 12px 0;
    border: 2px solid #6004FF;
    background-color: #6004FF;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;

    cursor: pointer;

    transition: .2s ease-in-out;
}

#authorize:hover {
    background-color: #0C0021;
}

.google-logo {
    width: 20px;
}

#with-google {
    padding: 12px 0;
    border: 2px solid #fefefe;
    background-color: #0C0021;
    color: #fefefe;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;

    cursor: pointer;
    transition: .2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

#with-google:hover {
    color: #6004FF;
}

p.already-account, p.dont-have-account {
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: center;
    font-weight: 500;
    color: #fefefe;
}

p.already-account a, p.dont-have-account a {
    text-decoration: none;
    color: #007bff;
}

.login-title {
    text-align: center;
    color: #fefefe;
    padding-bottom: 20px;
}

