body {
    overflow-y: visible;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.main-container {
    width: 90%;
    max-width: 1200px;
}

.filtering-stats {
    display: flex;
    align-items: center;

    color: #8B8B8B;
}

.filtering-stats-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.stats-filter-button {
    background: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    outline: none;
    font-weight: 500;
    color: #8B8B8B;
    font-size: 18px;

    cursor: pointer;
    transition: .2s ease-in-out;
}

.stats-filter-button:hover {
    color: #6004FF;
}

.stats-filter-button.active {
    color: #6004FF;
}

.stats-filter-button.active:hover {
    color: #007bff;
}

.overall-title {
    font-size: 22px;
    text-align: start;
    color: #8B8B8B;
    font-weight: 600;
    margin-bottom: 15px;
}

.overall-title-analysis {
    padding-top: 40px;
}

.stat-widgets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    align-items: stretch;
}

.stat-widget {
    background: linear-gradient(120deg, #6003FF, #8AA7FF);
    border-radius: 12px;
    color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0px 4px 10px rgba(96, 3, 255, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}

.stat-widget:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(96, 3, 255, 0.3);
}

.stat-widget-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.stat-widget-title span {
    font-size: 16px;
    opacity: 0.8;
}

.stat-widget-description {
    font-size: 16px;
    text-align: center;
    opacity: 0.9;
    margin-top: 5px;
}

.stats-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pie-chart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.chart-content {
    display: flex;
    align-items: center;
}

.legend {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
}

.legend-text {
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    color: #333;
}

.legend-value {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.pie-chart-container h3 {
    color: #7B7F9E;
}

.stat-container {
    background: white;
    border-radius: 12px;
    padding: 20px;
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-title {
    font-size: 18px;
    font-weight: bold;
    color: #7B7F9E;
    margin-bottom: 10px;
    width: 100%;
}

.stats-row-2 {
    padding-top: 50px;
}

.stat-container {
    background: white;
    border-radius: 12px;
    padding: 20px;
    width: 420px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.stat-title {
    font-size: 18px;
    font-weight: bold;
    color: #7B7F9E;
    margin-bottom: 10px;
}
